<div class="overflow-x-auto relative p-44">
    <div class="pb-5">
      <button
        (click)="showmodal()"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full"
      >
        Registrar Usuario
      </button>
    </div>
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th scope="col" class="py-3 px-6">Nombre del Usuario</th>
          <th scope="col" class="py-3 px-6">Usuario Registrado</th>
          <th scope="col" class="py-3 px-6">Correo</th>
          <th scope="col" class="py-3 px-6">Telefono</th>
          <th scope="col" class="py-3 px-6">Perfil</th>
          <th scope="col" class="py-3 px-6">Empresa Asignada</th>
          <th scope="col" class="py-3 px-6">Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (item of data; track item.id) {
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <th
            scope="row"
            class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white"
          >
            {{ item.nombre }}
          </th>
          <td class="py-4 px-6">
            {{ item.usuario }}
          </td>
          <td class="py-4 px-6">
            {{ item.correo }}
          </td>
          <td class="py-4 px-6">
            {{ item.telefono }}
          </td>
          <td class="py-4 px-6">
            {{ item.nombrePerfil }}
          </td>
          <td class="py-4 px-6">
            {{ item.nombreEmpresaAsociada }}
          </td>
          <td class="py-4 px-6 text-right flex justify-end items-center gap-2">
            <!-- Botón Editar -->
            <button
              (click)="showModaleditar(item.id)"
              class="text-white bg-blue-500 hover:bg-blue-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center inline-flex items-center dark:bg-blue-500 dark:hover:bg-blue-600 dark:focus:ring-blue-800"
              type="button"
            >
              <svg
                class="w-4 h-4 mr-2 -ml-1"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z"
                ></path>
                <path
                  fill-rule="evenodd"
                  d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z"
                  clip-rule="evenodd"
                ></path>
              </svg>
              Editar
            </button>
  
            <!-- Botón Eliminar -->
            <button
              class="text-white bg-red-500 hover:bg-red-600 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-4 py-2 text-center inline-flex items-center dark:bg-red-500 dark:hover:bg-red-600 dark:focus:ring-red-800"
              type="button"
              (click)="eliminar(item.id)"
            >
              <svg
                class="w-4 h-4 mr-2 -ml-1"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M9 2a1 1 0 00-1 1v1H4a1 1 0 000 2v1h12V6a1 1 0 100-2h-4V3a1 1 0 00-1-1H9zM3 8v8a2 2 0 002 2h8a2 2 0 002-2V8H3zm5 3a1 1 0 112 0v3a1 1 0 11-2 0v-3z"
                  clip-rule="evenodd"
                ></path>
              </svg>
              Eliminar
            </button>
          </td>
        </tr>
        }
        <!-- ... más filas de la tabla ... -->
      </tbody>
    </table>
    <!-- MODAL HERE -->
  
    <!-- MODAL DE REGISTRO -->
    @if (shomodal) {
    <div class="fixed z-10 inset-0 flex items-center justify-center">
      <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
      <div
        class="relative bg-white rounded-lg overflow-hidden shadow-xl max-w-screen-md w-full m-4"
      >
        <!-- Modal panel -->
        <div class="px-6 py-4">
          <h3 class="text-lg leading-6 font-medium text-gray-900">
            Registrar Usuario
          </h3>
        </div>
        <!-- AQUI LA LOGICA DEL FORMULARIO -->
        <div
          class="prose max-w-screen-md p-6 overflow-y-auto"
          style="
            max-height: 70vh;
            background-color: #fff;
            border: 1px solid #e2e8f0;
            border-radius: 0.375rem;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
          "
        >
          <form [formGroup]="formulario" (submit)="enviar()">
            <div class="mb-4">
              <label
                class="block text-gray-700 text-sm font-bold mb-2"
                for="usuario"
              >
                Usuario
              </label>
              <input
                formControlName="usuario"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="usuario"
                type="text"
                placeholder="Usuario"
              />
              @if (hasErrors(formulario,'usuario', 'required')) {
              <span style="color: red">Usuario requerido</span>
              }
            </div>
            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-bold mb-2" for="contrasena">
                Contraseña
              </label>
              <div class="relative">
                <input [type]="tipoInput" formControlName="contrasena"
                       class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                       id="contrasena" placeholder="Contraseña">
                <button type="button" class="absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5"
                        (click)="togglePasswordVisibility()">
                  <!-- Cambia este texto por un ícono si lo prefieres -->
                  {{tipoInput === 'password' ? 'Mostrar' : 'Ocultar'}}
                </button>
              </div>
              @if (hasErrors(formulario,'contrasena', 'required')) {
                <span style="color: red">Contraseña requerida</span>
                }
            </div>
            <div class="mb-4">
              <label
                class="block text-gray-700 text-sm font-bold mb-2"
                for="dni"
              >
                DNI
              </label>
              <input
                formControlName="dni"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="dni"
                type="text"
                placeholder="DNI"
              />
              @if (hasErrors(formulario,'dni', 'required')) {
              <span style="color: red">Dni requerido</span>
              }
              @if (hasErrors(formulario,'dni', 'pattern')) {
                <span style="color: red">-Dni invalido</span>
              }
              @if (
                hasErrors(formulario,'dni', 'maxlength') ||
                hasErrors(formulario,'dni', 'minlength')
              ) {
                <span style="color: red">-Dni debe tener 8 digitos</span>
              }
            </div>
            <div class="mb-4">
              <label
                class="block text-gray-700 text-sm font-bold mb-2"
                for="correo"
              >
              Correo
              </label>
              <input
                formControlName="correo"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="correo"
                type="email"
                placeholder="Correo"
              />
              @if (hasErrors(formulario,'correo', 'required')) {
              <span style="color: red">Correo requerido</span>
              } @if (hasErrors(formulario,'correo', 'email')) {
              <span style="color: red">email invalido</span>
              }
            </div>
            <div class="mb-4">
                <label
                  class="block text-gray-700 text-sm font-bold mb-2"
                  for="telefono"
                >
                telefono
                </label>
                <input
                  formControlName="telefono"
                  class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                  id="telefono"
                  type="text"
                  placeholder="Telefono"
                />
                @if (hasErrors(formulario,'telefono', 'required')) {
                <span style="color: red">-Telefono requerido</span>
                } @if (hasErrors(formulario,'telefono', 'pattern')) {
                <span style="color: red">-Telefono invalido</span>
                } @if (hasErrors(formulario,'telefono', 'maxlength')) {
                <span style="color: red">-Telefono debe tener maximo 9 digitos</span>
                } @if (hasErrors(formulario,'telefono', 'minlength')) {
                <span style="color: red"
                  >-Telefono debe tener como minimo 9 dijitos</span
                >
                }
              </div>

              <div class="mb-4">
                <label
                  class="block text-gray-700 text-sm font-bold mb-2"
                  for="nombreusuario"
                >
                Nombre del Usuario
                </label>
                <input
                  formControlName="nombreusuario"
                  class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                  id="nombreusuario"
                  type="text"
                  placeholder="Nombre del Usuario"
                />
                @if (hasErrors(formulario,'nombreusuario', 'required')) {
                <span style="color: red">Nombre del usuario requerido</span>
                }
              </div>

              <div class="mb-4">
                <label
                  class="block text-gray-700 text-sm font-bold mb-2"
                  for="empresaasignada"
                >
                Empresa Asignada
                </label>
                <select
                  formControlName="empresaasignada"
                  class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                  id="empresaasignada"
                >
                @for (item of empresas; track item.id) {
                    <option [value]="item.id">{{ item.nombre }}</option>
                }
                @if (hasErrors(formulario,'empresaasignada','required')) {
                <span style="color: red">Empresa requerida</span>
                }
                </select>
              </div>


            <div class="flex items-center justify-between">
              <button
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full flex items-center"
                type="submit"
                [disabled]="isLoading"
              >
                @if (!isLoading) {
                <span>Registrar</span>
                } @if (isLoading) {
                <span class="mr-2">
                  <!-- Simple SVG Spinner Example -->
                  <svg
                    class="animate-spin -ml-1 mr-3 h-5 w-5 text-white"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                  >
                    <circle
                      class="opacity-25"
                      cx="12"
                      cy="12"
                      r="10"
                      stroke="currentColor"
                      stroke-width="4"
                    ></circle>
                    <path
                      class="opacity-75"
                      fill="currentColor"
                      d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
                    ></path>
                  </svg>
                </span>
                }
              </button>
            </div>
            <!-- mensaje de registro exitoso -->
            @if (showsuccess) {
            <div class="pt-2">
              <div
                class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative"
                role="alert"
              >
                <strong class="font-bold">Registro Exitoso!</strong>
                <span class="block sm:inline"
                  >El usuario se ha registrado correctamente</span
                >
              </div>
            </div>
            } @if (showerror) {
            <div class="pt-2">
              <div
                class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative"
                role="alert"
              >
                <strong class="font-bold">Error!</strong>
                <span class="block sm:inline"
                  >Ha ocurrido un error al registrar el usuario -> <strong>{{mensaje}}</strong>
                </span>
              </div>
            </div>
            }
          </form>
        </div>
        <div
          class="bg-gray-50 px-4 py-3 sm:px-6 flex items-center justify-end p-4 gap-4 flex-row"
        >
          <button
            (click)="showmodal()"
            type="button"
            class="inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-black text-base font-medium text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-400 sm:w-auto sm:text-sm"
          >
            Cerrar
          </button>
        </div>
      </div>
    </div>
    <!-- FIN DEL MODAL -->
    }
  
    <!--                        -->
  
    <!-- INICIO DEL MODAL DE ACTUALIZACION -->
    @if (showEditModal) {
    <div class="fixed z-10 inset-0 flex items-center justify-center">
      <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
      <div
        class="relative bg-white rounded-lg overflow-hidden shadow-xl max-w-screen-md w-full m-4"
      >
        <!-- Modal panel -->
        <div class="px-6 py-4">
          <h3 class="text-lg leading-6 font-medium text-gray-900">
            Editar datos de la empresa
          </h3>
        </div>
        <!-- AQUI LA LOGICA DEL FORMULARIO -->
        <div
          class="prose max-w-screen-md p-6 overflow-y-auto"
          style="
            max-height: 70vh;
            background-color: #fff;
            border: 1px solid #e2e8f0;
            border-radius: 0.375rem;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
          "
        >
        <form [formGroup]="updateform" (submit)="actualizar()">
            <!-- id hidden -->
            <input type="hidden" formControlName="id" />
            <div class="mb-4">
              <label
                class="block text-gray-700 text-sm font-bold mb-2"
                for="usuario"
              >
                Usuario
              </label>
              <input
                formControlName="usuario"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="usuario"
                type="text"
                placeholder="Usuario"
              />
              @if (hasErrors(updateform,'usuario', 'required')) {
              <span style="color: red">Usuario requerido</span>
              }
            </div>
            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-bold mb-2" for="contrasena">
                Contraseña
              </label>
              <div class="relative">
                <input [type]="tipoInput" formControlName="contrasena"
                       class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                       id="contrasena" placeholder="Contraseña">
                <button type="button" class="absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5"
                        (click)="togglePasswordVisibility()">
                  <!-- Cambia este texto por un ícono si lo prefieres -->
                  {{tipoInput === 'password' ? 'Mostrar' : 'Ocultar'}}
                </button>
              </div>
            </div>
            <div class="mb-4">
              <label
                class="block text-gray-700 text-sm font-bold mb-2"
                for="dni"
              >
                DNI
              </label>
              <input
                formControlName="dni"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="dni"
                type="text"
                placeholder="DNI"
              />
              @if (hasErrors(updateform,'dni', 'required')) {
              <span style="color: red">Dni requerido</span>
              }
              @if (hasErrors(updateform,'dni', 'pattern')) {
                <span style="color: red">-Dni invalido</span>
              }
              @if (
                hasErrors(updateform,'dni', 'maxlength') ||
                hasErrors(updateform,'dni', 'minlength')
              ) {
                <span style="color: red">-Dni debe tener 8 digitos</span>
              }
            </div>
            <div class="mb-4">
              <label
                class="block text-gray-700 text-sm font-bold mb-2"
                for="correo"
              >
              Correo
              </label>
              <input
                formControlName="correo"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="correo"
                type="email"
                placeholder="Correo"
              />
              @if (hasErrors(updateform,'correo', 'required')) {
              <span style="color: red">Correo requerido</span>
              } @if (hasErrors(updateform,'correo', 'email')) {
              <span style="color: red">email invalido</span>
              }
            </div>
            <div class="mb-4">
                <label
                  class="block text-gray-700 text-sm font-bold mb-2"
                  for="telefono"
                >
                telefono
                </label>
                <input
                  formControlName="telefono"
                  class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                  id="telefono"
                  type="text"
                  placeholder="Telefono"
                />
                @if (hasErrors(updateform,'telefono', 'required')) {
                <span style="color: red">-Telefono requerido</span>
                } @if (hasErrors(updateform,'telefono', 'pattern')) {
                <span style="color: red">-Telefono invalido</span>
                } @if (hasErrors(updateform,'telefono', 'maxlength')) {
                <span style="color: red">-Telefono debe tener maximo 9 digitos</span>
                } @if (hasErrors(updateform,'telefono', 'minlength')) {
                <span style="color: red"
                  >-Telefono debe tener como minimo 9 dijitos</span
                >
                }
              </div>

              <div class="mb-4">
                <label
                  class="block text-gray-700 text-sm font-bold mb-2"
                  for="nombreusuario"
                >
                Nombre del Usuario
                </label>
                <input
                  formControlName="nombreusuario"
                  class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                  id="nombreusuario"
                  type="text"
                  placeholder="Nombre del Usuario"
                />
                @if (hasErrors(updateform,'nombreusuario', 'required')) {
                <span style="color: red">Nombre del usuario requerido</span>
                }
              </div>

              <div class="mb-4">
                <label
                  class="block text-gray-700 text-sm font-bold mb-2"
                  for="empresaasignada"
                >
                Empresa Asignada
                </label>
                <select
                  formControlName="empresaasignada"
                  class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                  id="empresaasignada"
                >
                @for (item of empresas; track item.id) {
                    <option [value]="item.id">{{ item.nombre }}</option>
                }
                @if (hasErrors(updateform,'empresaasignada','required')) {
                <span style="color: red">Empresa requerida</span>
                }
                </select>
              </div>


            <div class="flex items-center justify-between">
              <button
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full flex items-center"
                type="submit"
                [disabled]="isLoading"
              >
                @if (!isLoading) {
                <span>Registrar</span>
                } @if (isLoading) {
                <span class="mr-2">
                  <!-- Simple SVG Spinner Example -->
                  <svg
                    class="animate-spin -ml-1 mr-3 h-5 w-5 text-white"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                  >
                    <circle
                      class="opacity-25"
                      cx="12"
                      cy="12"
                      r="10"
                      stroke="currentColor"
                      stroke-width="4"
                    ></circle>
                    <path
                      class="opacity-75"
                      fill="currentColor"
                      d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
                    ></path>
                  </svg>
                </span>
                }
              </button>
            </div>
            <!-- mensaje de registro exitoso -->
            @if (showsuccessupdate) {
            <div class="pt-2">
              <div
                class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative"
                role="alert"
              >
                <strong class="font-bold">Registro Exitoso!</strong>
                <span class="block sm:inline"
                  >El usuario se ha registrado correctamente</span
                >
              </div>
            </div>
            } @if (showerrorupdate) {
            <div class="pt-2">
              <div
                class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative"
                role="alert"
              >
                <strong class="font-bold">Error!</strong>
                <span class="block sm:inline"
                  >Ha ocurrido un error al registrar el usuario -> <strong>{{mensaje}}</strong>
                </span>
              </div>
            </div>
            }
          </form>
        </div>
        <div
          class="bg-gray-50 px-4 py-3 sm:px-6 flex items-center justify-end p-4 gap-4 flex-row"
        >
          <button
            (click)="closemodaleditar()"
            type="button"
            class="inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-black text-base font-medium text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-400 sm:w-auto sm:text-sm"
          >
            Cerrar
          </button>
        </div>
      </div>
    </div>
  
    }
    <!--  -->
    @if (showEliminarModal) {
    <div class="fixed z-10 inset-0 flex items-center justify-center">
      <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
      <div
        class="relative bg-white rounded-lg overflow-hidden shadow-xl max-w-screen-md w-full m-4"
      >
        <!-- Modal panel -->
        <div class="px-6 py-4">
          <h3 class="text-lg leading-6 font-medium text-gray-900">
            Eliminar Usuario
          </h3>
        </div>
        <!-- AQUI LA LOGICA DEL FORMULARIO -->
        <div
          class="prose max-w-screen-md p-6 overflow-y-auto"
          style="
            max-height: 70vh;
            background-color: #fff;
            border: 1px solid #e2e8f0;
            border-radius: 0.375rem;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
          "
        >
          <p>¿Estas seguro de eliminar el usuario?</p>
          <div class="flex items-center justify-between">
            <button
              class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-full flex items-center"
              type="button"
              (click)="eliminarEmpresa()"
            >
              Eliminar
            </button>
            <button
              (click)="closemodalEliminar()"
              type="button"
              class="inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-black text-base font-medium text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-400 sm:w-auto sm:text-sm"
            >
              Cerrar
            </button>
          </div>
        </div>
      </div>
    </div>
    }
  </div>