<div class="p-6">
    <h2 class="text-2xl font-bold mb-4">Reportes</h2>
    <div class="flex flex-wrap justify-center gap-4">
      <div class="chart-container w-full md:w-1/2">
        <h3 class="text-lg font-semibold mb-2">Productos que mas Recaudan</h3>
        <div class="bg-white shadow-lg rounded-lg p-4">
          <canvas id="bar"></canvas>
        </div>
      </div>
      <div class="chart-container w-full md:w-1/2">
        <h3 class="text-lg font-semibold mb-2">Metodos de Pago mas usados</h3>
        <div class="bg-white shadow-lg rounded-lg p-4">
          <canvas id="circular"></canvas>
        </div>
      </div>
    </div>
  </div>
  