<div
  class="flex flex-col items-center border-b bg-white py-4 sm:flex-row sm:px-10 lg:px-20 xl:px-32"
>
  <a href="#" class="text-2xl font-bold text-gray-800">CARRITO DE COMPRAS</a>
  <div class="mt-4 py-2 text-xs sm:mt-0 sm:ml-auto sm:text-base">
    <div class="relative"></div>
  </div>
</div>
<div class="grid sm:px-10 lg:grid-cols-2 lg:px-20 xl:px-32">
  <div class="px-4 pt-8">
    <p class="text-xl font-medium">Resumen de Orden</p>
    <p class="text-gray-400">revisa</p>
    <!-- PRODUCT DETAIL PAYMENT -->
    @for (item of cartitems; track item) {
    <div
      class="mt-8 space-y-3 rounded-lg border bg-white px-2 py-4 sm:px-6 relative"
    >
      <button
        (click)="deleteproduct(item.product.productos?.id)"
        class="absolute top-0 right-0 m-2 text-red-500 hover:text-red-700"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 18L18 6M6 6l12 12"
          />
        </svg>
      </button>
      <div class="flex flex-col rounded-lg bg-white sm:flex-row">
        <img
          class="m-2 h-24 w-28 rounded-md border object-cover object-center"
          src="{{ item.product.productos.imagen }}"
          alt=""
        />
        <div class="flex w-full items-center justify-between px-4 py-4">
          <!-- AQUIIIIIIIIII IRA EL TITULO -->
          <div class="flex flex-col">
            <span class="font-semibold">{{
              item.product.productos.nombre
            }}</span>
            <span class="float-right text-gray-400"
              >catidad : {{ item.quantity }}</span
            >
            <p class="float-right text-gray-400">
              precio unitario : S/{{ item.product.precioLocal }}
            </p>
            <p class="text-sm font-bold">
              Subtotal : S/{{ item.product.precioLocal * item.quantity }}
            </p>
          </div>
          <div>
            <div
              class="relative flex flex-row w-full h-10 mt-4 bg-transparent rounded-lg"
            >
              <button
                id="decrement"
                (click)="decrementar(item.product.productos.id)"
              >
                <span class="m-auto text-2xl font-thin">-</span>
              </button>
              <p class="m-auto pl-5 pr-5">{{ item.quantity }}</p>
              <button
                id="increment"
                (click)="incrementar(item.product.productos.id)"
              >
                <span class="m-auto text-2xl font-thin">+</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    }
    <!--  -->

    <p class="mt-8 text-lg font-medium">Metodos de Envío</p>
    <form [formGroup]="documentoForm" class="mt-5 grid gap-6">
      <div class="relative">
        <input
          formControlName="envio"
          class="peer hidden"
          id="radio_1"
          type="radio"
          name="envio"
          value="recojo"
          checked
        />
        <span
          class="peer-checked:border-gray-700 absolute right-4 top-1/2 box-content block h-3 w-3 -translate-y-1/2 rounded-full border-8 border-gray-300 bg-white"
        ></span>
        <label
          class="peer-checked:border-2 peer-checked:border-gray-700 peer-checked:bg-gray-50 flex cursor-pointer select-none rounded-lg border border-gray-300 p-4"
          for="radio_1"
        >
          <img
            class="w-14 object-contain"
            src="/images/naorrAeygcJzX0SyNI4Y0.png"
            alt=""
          />
          <div class="ml-5">
            <span class="mt-2 font-semibold">Recojo en tienda</span>
          </div>
        </label>
      </div>
      <div>
        <!-- DATOS DE LA SUCURSAL ((DIRECCION)) -->
        <p>
          <span class="font-semibold"
            >Direccion de recojo: {{ direccionSucursal }}
          </span>
        </p>
        <p class="mt-8 text-lg font-medium" style="color: red">
          PROXIMAMENTE SE IMPLEMENTARÁ EL DELIVERY
        </p>
      </div>
      <p class="mt-8 text-lg font-medium">
        Tipo de Pago que realizaras en nuestro local
      </p>
      <div class="relative">
        <!--  -->
        <input
          formControlName="tipoPago"
          class="peer hidden"
          id="radio_2"
          type="radio"
          name="tipoPago"
          value="tarjeta"
        />
        <span
          class="peer-checked:border-gray-700 absolute right-4 top-1/2 box-content block h-3 w-3 -translate-y-1/2 rounded-full border-8 border-gray-300 bg-white"
        ></span>
        <label
          class="peer-checked:border-2 peer-checked:border-gray-700 peer-checked:bg-gray-50 flex cursor-pointer select-none rounded-lg border border-gray-300 p-4"
          for="radio_2"
        >
          <img
            class="w-14 object-contain"
            src="/images/naorrAeygcJzX0SyNI4Y0.png"
            alt=""
          />
          <div class="ml-5">
            <span class="mt-2 font-semibold">Pagaré con Tarjeta</span>
          </div>
        </label>
        <!--  -->
      </div>
      <div class="relative mb-5">
        <!--  -->
        <input
          formControlName="tipoPago"
          class="peer hidden"
          id="radio_3"
          type="radio"
          name="tipoPago"
          value="efectivo"
        />
        <span
          class="peer-checked:border-gray-700 absolute right-4 top-1/2 box-content block h-3 w-3 -translate-y-1/2 rounded-full border-8 border-gray-300 bg-white"
        ></span>
        <label
          class="peer-checked:border-2 peer-checked:border-gray-700 peer-checked:bg-gray-50 flex cursor-pointer select-none rounded-lg border border-gray-300 p-4"
          for="radio_3"
        >
          <img
            class="w-14 object-contain"
            src="/images/naorrAeygcJzX0SyNI4Y0.png"
            alt=""
          />
          <div class="ml-5">
            <span class="mt-2 font-semibold">Pagaré con Efectivo</span>
          </div>
        </label>
        <!--  -->
      </div>

      <!--  -->

      <div class="flex gap-4">
        <label class="flex items-center cursor-pointer">
          <input
            type="radio"
            (click)="reset()"
            formControlName="tipoDocumento"
            value="boleta"
            class="sr-only peer"
            checked
          />
          <span
            class="flex p-4 bg-white border border-gray-300 rounded-lg cursor-pointer focus:outline-none hover:bg-gray-100 peer-checked:border-blue-500 peer-checked:bg-blue-100"
          >
            Boleta
          </span>
        </label>
        <label class="flex items-center cursor-pointer">
          <input
            type="radio"
            (click)="reset()"
            formControlName="tipoDocumento"
            value="factura"
            class="sr-only peer"
          />
          @if (hasErrors('tipoDocumento', 'required')) {
          <span style="color: red">Tipo de Documento Requerido</span>
          }
          <span
            class="flex p-4 bg-white border border-gray-300 rounded-lg cursor-pointer focus:outline-none hover:bg-gray-100 peer-checked:border-blue-500 peer-checked:bg-blue-100"
          >
            Factura
          </span>
        </label>
      </div>

      <!-- Campo para numero -->
      <div class="m-4">
        <label for="numerodocumento" class="text-sm font-semibold">
          Número de Documento
        </label>
        <input
         style="border-color:grey; border-width: 2px;"
          type="text"
          formControlName="numerodocumento"
          id="numerodocumento"
          class="mt-1 block w-full rounded-md border-gray-300 shadow-sm"
        />
        @if (hasErrors('numerodocumento', 'required')) {
          <span style="color: red">Tipo de Documento Requerido</span>
          }
          @if (hasErrors('numerodocumento', 'pattern')) {
            <span style="color: red">Documento Invalido</span>
            }
      </div>

      <!--  -->
    </form>
  </div>
  <div class="mt-10 bg-gray-50 px-4 pt-8 lg:mt-0">
    <div class="">
      <!-- Total -->
      <div class="mt-6 border-t border-b py-2">
        <div class="flex items-center justify-between">
          <p class="text-sm font-medium text-gray-900">Total</p>
          <p class="font-semibold text-gray-900">S/{{ total }}</p>
        </div>
      </div>
    </div>
    <button
      (click)="placeorder()"
      [disabled]="isLoading"
      class="mt-4 mb-8 w-full rounded-md bg-gray-900 px-6 py-3 font-medium text-white"
    >
      @if (!isLoading) {
      <span>Comprar</span>
      } @if (isLoading) {
      <span>Cargando...</span>
      }
    </button>
  </div>
</div>
