<!-- component -->
<header class="bg-white">
    <div class="container px-4 py-8 flex items-center justify-between">
      <!-- logo -->
      <div class="flex-shrink-0">
        <img
          class="h-8 md:h-20"
          src={{imagenEmpresa}}
          alt=""
        />
      </div>
      <!-- Categorys -->
      <div>
        <ul class="flex items-center gap-20">
          <li class="mr-4">
            <a
              [ngClass]="{
                'text-gray-500': true,
                'font-bold': true,
                'hover:text-green-500': linkColor === 'green',
                'hover:text-red-500': linkColor === 'red',
                'hover:text-yellow-500': linkColor === 'yellow'
              }"
              (click)="categoriaseleccionada(0)"
              style="cursor: pointer;"
              >HOME</a
            >
          </li>
          @for (item of data; track item.id) {
            <li class="mr-4">
              <a
                [ngClass]="{
                  'text-gray-500': true,
                  'font-bold': true,
                  'hover:text-green-500': linkColor === 'green',
                  'hover:text-red-500': linkColor === 'red',
                  'hover:text -yellow-500': linkColor === 'yellow'
                }"
                style="cursor: pointer;"
                 (click)="categoriaseleccionada(item.id)"
                >{{item.nombre}}
              </a>
            </li>
          }
        </ul>
      </div>
      <!-- Botón de Inicio/Cierre de Sesión -->
    <!-- Si el usuario NO está logueado -->
    
       <!-- Botón de Inicio/Cierre de Sesión -->
    <!-- Si el usuario NO está logueado -->
   
    <div class="flex items-center space-x-4"> 
      @if (!isLogged) {
      <!-- Condición corregida: Si el usuario NO está logueado -->
      <div>
        <button routerLink="/login" class="bg-blue-500 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded flex items-center transition duration-150 ease-in-out">
          <i class="fas fa-sign-in-alt mr-2"></i> Iniciar sesión
        </button>
      </div>
    }@else{
      <!-- Si el usuario está logueado -->
      <div class="flex items-center space-x-5">
        <i class="fas fa-user-circle text-5xl mr-2"></i> <!-- Icono de usuario más grande -->
        <span class="text-gray-800 text-lg font-medium">Hola, {{usuario}}</span>
        <button (click)="cerrarSession()" class="bg-red-500 hover:bg-red-700 text-white font-semibold py-2 px-4 rounded flex items-center transition duration-150 ease-in-out">
          <i class="fas fa-sign-out-alt mr-2"></i> Cerrar sesión
        </button>
      </div>
    }
    </div>








    <!-- Si el usuario está logueado -->
    
      <!-- <div
        [ngClass]="{
        'flex':true,
        'items-center':true,
        'gap-4':true,
      }"
      >
        <img src="../../assets/img/icons8-ubicación-48.png" alt="" />
        <div class="flex flex-col gap-1">
          <span class="font-semibold">Mi ubicación</span>
          <div class="flex items-center gap-2">
            <select class="rounded text-gray-600 p-1">
              <option value="es">Seleccionar</option>
              <option value="en">Tarapoto</option>
              <option value="en">Banda de Shilcayo</option>
              <option value="en">Moquegua</option>
  
            </select>
            <i class="icons-arrow-down"></i>
          </div>
        </div>
      </div> -->
      <!-- cart count -->
      <a
      (click)="tocart()"
      style="cursor: pointer;">
        <div class="ml-4 hidden sm:flex flex-col font-bold pr-10 relative">
          <span>
            <img
              src="../../assets/img/icons8-carrito-de-compras-50.png"
              class="w-8"
              alt="Carrito de compras"
            />
            <!-- Badge para la cantidad en el carrito -->
            <span
              [ngClass]="{
              'absolute':true,
              'top-0':true,
              'right-10':true,
              'transform':true,
              'translate-x-1/2':true,
              '-translate-y-1/2':true,
              'bg-red-500':linkColor==='red',
              'bg-green-500':linkColor==='green',
              'bg-yellow-500':linkColor==='yellow',
              'text-white':true,
              'text-xs':true,
              'font-semibold':true,
              'rounded-full':true,
              'h-6':true,
              'w-6':true,
              'flex':true,
              'items-center':true,
              'justify-center':true,
            }"
            >
            {{ cartQuantity }}
            </span>
          </span>
          <span class="text-xs text-gray-400">Carrito</span>
        </div>
      </a>
    </div>
  
    <hr />
  </header>
  
