<section class="bg-white py-12 text-gray-700 sm:py-16 lg:py-20">
    <div class="mx-auto px-4 sm:px-6 lg:px-8">
      <div class="mx-auto max-w-md text-center">
        <h2 class="font-serif text-2xl font-bold sm:text-3xl">
         <!-- {{tittle}} -->
        </h2>
      </div>
      <div class="flex flex-col lg:flex-row lg:space-x-6">
        <!-- Panel lateral de filtros -->
        <aside class="w-full lg:w-1/2 mt-10">
          <div class="mb-6">
            <h3 class="mb-3 text-lg font-semibold">Categorías</h3>
            <ul class="space-y-2">
              <li>
                <button
                [ngClass]="{
                  'w-full':true,
                  'text-left':true,
                  'font-medium':true,
                  'hover:text-emerald-600':globalcolor==='green',
                  'hover:text-red-600':globalcolor==='red',
                  'hover:text-yellow-600':globalcolor==='yellow',
                }"
                >
                  Todos
                </button>
              </li>
              <li>
                <button
                [ngClass]="{
                  'w-full':true,
                  'text-left':true,
                  'font-medium':true,
                  'hover:text-emerald-600':globalcolor==='green',
                  'hover:text-red-600':globalcolor==='red',
                  'hover:text-yellow-600':globalcolor==='yellow',
                }"
                >
                  Panes Dulces
                </button>
              </li>
              <li>
                <button
                [ngClass]="{
                  'w-full':true,
                  'text-left':true,
                  'font-medium':true,
                  'hover:text-emerald-600':globalcolor==='green',
                  'hover:text-red-600':globalcolor==='red',
                  'hover:text-yellow-600':globalcolor==='yellow',
                }"
                >
                  Panes Salados
                </button>
              </li>
              <!-- Añade más categorías según sea necesario -->
            </ul>
          </div>
          <div class="mb-6">
            <h3 class="mb-3 text-lg font-semibold">Precio</h3>
            <ul class="space-y-2">
              <li>
                <button
                  [ngClass]="{
                    'w-full':true,
                    'text-left':true,
                    'font-medium':true,
                    'hover:text-emerald-600':globalcolor==='green',
                    'hover:text-red-600':globalcolor==='red',
                    'hover:text-yellow-600':globalcolor==='yellow',
                    'focus:outline-none':true,
                    'focus:ring-2':true,
                    'focus:ring-emerald-500':globalcolor==='green',
                    'focus:ring-red-500':globalcolor==='red',
                    'focus:ring-yellow-500':globalcolor==='yellow',
                    'text-emerald-700 bg-emerald-100': selectedFilter === 'low' && globalcolor==='green',
                    'text-red-700 bg-red-100': selectedFilter === 'low' && globalcolor==='red',
                    'text-yellow-700 bg-yellow-100': selectedFilter === 'low' && globalcolor==='yellow',
                    'hover:bg-gray-100': selectedFilter !== 'low'
                  }"
                  (click)="selectedFilter = 'low'"
                >
                  Más bajo
                </button>
              </li>
              <li>
                <button
                  class="w-full text-left font-medium hover:text-emerald-600 focus:outline-none focus:ring-2 focus:ring-emerald-500"
                  [ngClass]="{
                    'w-full':true,
                    'text-left':true,
                    'font-medium':true,
                    'hover:text-emerald-600':globalcolor==='green',
                    'hover:text-red-600':globalcolor==='red',
                    'hover:text-yellow-600':globalcolor==='yellow',
                    'focus:outline-none':true,
                    'focus:ring-2':true,
                    'focus:ring-emerald-500':globalcolor==='green',
                    'focus:ring-red-500':globalcolor==='red',
                    'focus:ring-yellow-500':globalcolor==='yellow',
                    
                    'text-emerald-700 bg-emerald-100': selectedFilter === 'high' && globalcolor==='green',
                    'text-red-700 bg-red-100': selectedFilter === 'high' && globalcolor==='red',
                    'text-yellow-700 bg-yellow-100': selectedFilter === 'high' && globalcolor==='yellow',
                    'hover:bg-gray-100': selectedFilter !== 'high'
                  }"
                  (click)="selectedFilter = 'high'"
                >
                  Más alto
                </button>
              </li>
            </ul>
          </div>
        </aside>
        <div
          class="mt-10 grid grid-cols-2 gap-6 sm:grid-cols-4 sm:gap-4 lg:mt-16"
        >
        @for (item of products; track item.id) {
        <app-cards [product]="item" globalcolor="green" [idEmpresa]="idempresa" [idSucursal]="idsucursal" ></app-cards>
        }
        </div>
      </div>
    </div>
  </section>
  
